<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="css/styles.css">
</head>

    <body>
        <div class="main-content">
 {{>header}}
        <img class="portrait" src="./img/55cd28cae8ee78fe1e52ab1adc9eafff24c9af92.jpeg">
<p>{{name}}</p>
        </div>
       
{{>footer}}
    </body>
</html>