<!DOCTYPE html>
<html>
    <head>
<head>
<link rel="stylesheet" href="css/styles.css">
</head>

    </head>

    <body>
        <div class="main-content">
{{>header}}
<h3>{{message}}</h3>
        </div>

{{>footer}}
    </body>
</html>