<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
{{>header}}
<div class="icon sun-shower">
  <div class="cloud"></div>
  <div class="sun">
    <div class="rays"></div>
  </div>
  <div class="rain"></div>
</div>

<div class="icon thunder-storm">
  <div class="cloud"></div>
  <div class="lightning">
    <div class="bolt"></div>
    <div class="bolt"></div>
  </div>
</div>

<div class="icon cloudy">
  <div class="cloud"></div>
  <div class="cloud"></div>
</div>

<div class="icon flurries">
  <div class="cloud"></div>
  <div class="snow">
    <div class="flake"></div>
    <div class="flake"></div>
  </div>
</div>

<div class="icon sunny">
  <div class="sun">
    <div class="rays"></div>
  </div>
</div>

<div class="icon rainy">
  <div class="cloud"></div>
  <div class="rain"></div>
</div>

<p>Use this site to get your weather</p>
    
<form> 
<input placeholder="Location">
<button>Search</button>

</form>

<p id="message-1"></p>

<p id ="message-2"></p>

{{>footer}}

<script src="/js/app.js"></script>
</body>
</html>